.header {
  outline: rgb(68, 0, 255) solid 1px;
  .container {
    outline: orangered solid 1px;
    .header__sign {
      outline: orangered solid 1px;
      .navbar-nav {
        outline: rgb(0, 47, 255) solid 1px;
        a {
          outline: rgb(0, 47, 255) solid 1px;
        }
     
      }

      
    }
  }
}




.banner {
  width: 100%;
  height: 480px;
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-scroller {
  height:3.31rem; //隱藏橫向捲軸
  overflow-y: hidden; //隱藏橫向捲軸
  border-bottom: 1px solid #9b4848;
  outline: 1px solid rgb(255, 0, 0);
 
  .nav {
  outline: 1px solid blue;
  display: flex;
  flex-wrap: nowrap;
  //overflow-x: auto; //超出X軸 出現橫向捲軸
  white-space:nowrap; 
  padding-bottom: 1rem;
}

//  .nav-link 加上 border-bottom: 1px solid transparent;(透明) 就可以解決抖動問題了
.nav-link {
  // outline: 1px solid red;
  width: 64px;
  transition:  border-bottom .5s;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid $secondary;
  }
  
}
}



.popularExhibition , .liveReview, .recommend {
  // outline: red solid 1px;
}
.popularExhibition__content {
  margin-bottom: 20px;
  &__img {
    img {
      height: 350px;
      object-fit: cover;
    }
  }
  &__text {
    height: 100%;
  }
 
}

.liveReview__content {
  background: url("../images/review/reviewBackground.png");
  background-size: cover;

  .bg-info {
    background-color: rgba(25, 0, 20, 0.8) !important;
  }
 
}


.swiper {
  &-container {
    width: 100%;
    height: 100%;
  }

  &-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: auto !important;

    img {
      display: block;
      width: 350px;
      height: 350px;
      object-fit: cover;
    }

  }
}



.contact {
  width: 100%;
  height: 400px;
  background: url("../images/contact.jpg") no-repeat center ;
  background-size: cover;
  padding:36px 0px;
  @include media-breakpoint-up(md) {
   
  padding: 36px 85px;
}

  &__title {
    line-height:36px;
    margin-bottom: 22px;
  @include media-breakpoint-up(md) {
      line-height: 48px ;
    }
  }

  .input-group__btn {
    width: 37% ;
  }
 

}