


.banner {
  width: 100%;
  height: 480px;
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}


.nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space:nowrap; 
}

.nav-link {
  width: 64px;
  transition: border-bottom 1s;
  &:hover {
    border-bottom: 1px solid ;
    border-color: $secondary;

  }

  
}

.popularExhibition__content {
  margin-bottom: 20px;
  &__img {

    img {
      height: 350px;
      object-fit: cover;

    }

  }
  &__text {
    height: 100%;
  }

 
}




